## DVC
Generate a plot that details the 5 top Companies by Revenue for each Decade. E.g., Top 5 for 1950-1959, 1960-1969, etc. This must be a single plot either static or interactive.

In [11]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv("fortune500.csv")

In [8]:
df.head()

   Year  Rank           Company  Revenue (in millions) Profit (in millions)
0  1955     1    General Motors                 9823.5                  806
1  1955     2       Exxon Mobil                 5661.4                584.8
2  1955     3        U.S. Steel                 3250.4                195.4
3  1955     4  General Electric                 2959.1                212.6
4  1955     5            Esmark                 2510.8                 19.1

In [9]:
df.shape

(25500, 5)

In [13]:
df['Year'] = pd.to_datetime(df['Year'], format='%Y')

In [15]:
df.head(20)

,Year,Rank,Company,Revenue (in millions),Profit (in millions)
0,1955-01-01,1,General Motors,9823.5,806
1,1955-01-01,2,Exxon Mobil,5661.4,584.8
2,1955-01-01,3,U.S. Steel,3250.4,195.4
3,1955-01-01,4,General Electric,2959.1,212.6
4,1955-01-01,5,Esmark,2510.8,19.1
5,1955-01-01,6,Chrysler,2071.6,18.5
6,1955-01-01,7,Armour,2056.1,1.6
7,1955-01-01,8,Gulf Oil,1705.3,182.8
8,1955-01-01,9,Mobil,1703.6,183.8
9,1955-01-01,10,DuPont,1687.7,344.4
10,1955-01-01,11,Amoco,1667.4,132.8
11,1955-01-01,12,Bethlehem Steel,1660.3,117.2
12,1955-01-01,13,CBS,1631.0,84.6
13,1955-01-01,14,Texaco,1574.4,226.1
14,1955-01-01,15,AT&T Technologies,1526.2,55.8
15,1955-01-01,16,Shell Oil,1312.1,121.1
16,1955-01-01,17,Kraft,1210.3,37.4
17,1955-01-01,18,ChevronTexaco,1113.3,211.9
18,1955-01-01,19,Goodyear Tire & Rubber,1090.1,48.1
19,1955-01-01,20,Boeing,1033.2,37

In [16]:
df['Decade'] = df['Year'].dt.year // 10*10